accelerate==1.11.0
datasets==4.0.0
flash-attn==2.8.3.post1
liger-kernel==0.8.1
modelscope==1.37.1
modelscope-hub==0.2.0
numpy==2.4.4
omegaconf==2.3.0
pandas==2.3.3
peft==0.18.1
pyarrow==24.0.0
PyYAML==6.0.3
safetensors==0.7.0
sentencepiece==0.2.1
tokenizers==0.22.2
torch==2.5.1+cu124
transformers==5.3.0
trl==0.24.0
